$primary-color: #2F80ED;
$secondary-color: #000000;
$third-color: #ffffff;
$red-color: #F42F4C;
$background-header-default: #f8f9fae0;
$background-header: #f8f9fac9;
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}